{% extends 'layout.html' %}


{% block body_content %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
<body>
    
    <div class="circle--actions--bar">
      <nav class="bounds">
        <ul class="circle--pill--list">
          <li><a class="selected">Edit Profile Mode</a></li>
        </ul>
      </nav>
    </div>
  
    <div class="bounds circle--page">
      <div class="circle--page--header circle--fluid">
        <div class="circle--fluid--cell circle--fluid--primary">
          <h2>Profile</h2>
        </div>
        <div class="circle--fluid--cell circle--fluid--secondary">
          <button class="button icon-on-left" type="submit" value="save">Save</button>
        </div>
      </div>
  
      <div class="grid-70">
        <p>{{ form.errors }}</p>
        <h1> Display Name </h1>
        <h1>{{ form.display_name }}</h1>
        <h1> Username </h1>
        <h1>{{ form.username }}</h1>
        <h2> Bio </h2>
        <div class="circle--article--body">
          <p> {{ form.bio }} </p>
        </div>
      </div>
  
      <div class="grid-25 grid-push-5">
  
        <div class="circle--secondary--module">
          <div>
            <img src="{{ user.avatar.url }} "width="250" height="250">
            {{ form.avatar }}
          </div>
        </div>
  
        <div class="circle--secondary--module">
          <h4>My Skills</h4>
          {{ form.skills }}
        </div>

      </div>
  
    </div>
  </body>
</form>
{% endblock %}