{% extends 'layout.html' %}

{% block body_content %}
  <body>

    <div class="circle--actions--bar">
      <nav class="bounds">
        <ul class="circle--pill--list">
          <li><a href="{% url 'projects:projects' %}">Projects</a></li>
          <li><a class="selected" href="{% url 'projects:applications_list' %}">Applications</a></li>
          <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
        </ul>
      </nav>
    </div>

    <div class="bounds circle--page">
      <div class="circle--page--header grid-100">
        <h2>Applications</h2>
      </div>

      <div class="grid-25">
        <div class="circle--filter circle--secondary--module">
          <h4>My Position's Applications</h4>
          <ul class="circle--filter--list">
            <li><a href="{% url 'projects:applications_list' %}">All Applications</a></li>
            <li><a href="{{ request.path }}?application_status=A&project_owner">Accepted</a></li>
            <li><a href="{{ request.path }}?application_status=R&project_owner">Rejected</a></li>
            <li><a href="{{ request.path }}?application_status=P&project_owner">Pending</a></li>
          </ul>
          <h4>My Application Status</h4>
          <ul class="circle--filter--list">
            <li><a href="{% url 'projects:applications_list' %}">All Applications</a></li>
            <li><a href="{{ request.path }}?application_status=A&applicant">Accepted</a></li>
            <li><a href="{{ request.path }}?application_status=R&applicant">Rejected</a></li>
            <li><a href="{{ request.path }}?application_status=P&applicant">Pending</a></li>
          </ul>
        </div>

        <div class="circle--filter circle--secondary--module">
          <h4>My Projects</h4>
          <ul class="circle--filter--list">
            {% for project in projects_list %}
            <li><a>{{ project }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="circle--filter circle--secondary--module">
          <h4>Project Needs</h4>
          <ul class="circle--filter--list">
            {% for position in positions_list %}
              <li><a>{{ position }}</a></li>
            {% endfor %}
          </ul>
        </div>

      </div>

      <div class="grid-70 grid-push-5">
        <table class="u-full-width circle--table">
          <thead>
            <tr>
              <th>Applicant</th>
              <th class="circle--cell--right">Project</th>
              <th class="circle--cell--right">Acceptor</th>
              <th class="circle--cell--right">Approval Status</th>
            </tr>
          </thead>
          <tbody>
            {% for application in application_list %}
            <tr class="clickable-row">
              <td>
                <h3>{{ application.applicant }}</h3>
                <p>{{ application.position }}</p>
              </td>
              <td class="circle--cell--right">
                <p>{{ application.project }}</p>
              </td>
              <td class="circle--cell--right">
                <p>{{ application.project.owner }}</p>
                <p>{{ application.application_status }}</p>
              </td>
              {% if application.application_status == 'P' %}
                {% if application.project.owner.id == user_id %}
                  <td class="circle--cell--right">
                    <ul class="circle--pill--list">
                      <li><a href="{% url 'projects:application_accept' %}?application_id={{application.id}}">Accept</a></li>
                      <li><a href="{% url 'projects:application_reject' %}?application_id={{application.id}}">Reject</a></li>
                    </ul>
                  </td>
                {% else %}
                  <td class="circle--cell--right">
                    <ul class="circle--pill--list">
                      <li>Pending</a></li>
                    </ul>
                  </td>
                {% endif %}
              {% endif %}
              {% if application.application_status == 'A' %}
              <td class="circle--cell--right">
                <ul class="circle--pill--list">
                  <li>Accepted</a></li>
                </ul>
              </td>
              {% endif %}
              {% if application.application_status == 'R' %}
              <td class="circle--cell--right">
                <ul class="circle--pill--list">
                  <li>Rejected</a></li>
                </ul>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

    </div>
  </body>
{% endblock %}