{% extends 'layout.html' %}

{% block body_content %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>

    let dailypoints = {
        type: 'horizontalBar',
        data: {
            labels: {{ dpslabels|safe }},
            datasets: [{
                label: 'Projects',
                data: {{ dpsdata|safe }},
                backgroundColor: [
                    'rgb(50,150,237)',
                    'rgb(50,150,237)',
                    'rgb(50,150,237)',
                    'rgb(50,150,237)',
                    'rgb(50,150,237)',
                    'rgb(50,150,237)',
                    'rgb(50,150,237)',
                    'rgb(50,150,237)',
                    'rgb(50,150,237)',
                    'rgb(50,150,237)',
                    'rgb(50,150,237)',
                    'rgb(50,150,237)',
                    'rgb(50,150,237)',
                    'rgb(50,150,237)',
                    'rgb(50,150,237)',
                    'rgb(50,150,237)',
                ],
                borderColor: [
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        callback: function(value, index, values) {
                            return 'points ' + value;
                        }
                    }
                }]
            }
        }
    }


    $(document).ready(function(){
            var dpsctx = document.getElementById('dailypointschart').getContext('2d');
            var dps = new Chart(dpsctx, dailypoints);
        });

    </script>
    <div class="card-content card-border">
        <div class="grid-70 grid-push-5">
            <canvas id="dailypointschart"></canvas>
        </div>
        <div class="grid-70 grid-push-5">
            <h1>My Chart</h1>
        </div>
    </div>

{% endblock %}