{% extends 'layout.html' %}

{% block body_content %}
{% if user.is_authenticated %}
  {% if user.id == object.owner.id %}
  
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <body>
        <div class="circle--actions--bar">
          <div class="bounds">
            <div class="grid-100">
                  <button class="button button-primary" type="submit">Save Changes</button>
                  <a class="button button-text" href="{% url 'projects:project_delete' slug=object.slug %}">Delete Project</a>
            </div>
          </div>
        </div>

        <div class="bounds circle--page circle--article">
          <div class="grid-70">
            <div class="circle--article--body">
              <h3 class="circle--input--h3"> {{ form.errors }} </h3>
              <h1 class="circle--input--h1"> {{ form.title }} </h1>
              <p class="circle--textarea--input"> {{ form.description.as_textarea }} </p>
            </div>

            <div class="circle--project--positions">
              <h2>Positions</h2>
              {{ position_formset.management_form }}
              <ul class="circle--group--list circle--clone--list">
                {% for position_form in position_formset %}
                  {{ position_form.id }}
                <li>
                  <h3 class="circle--secondary--module"> Position Title </h3>
                  <h1 class="circle--input--h1"> {{ position_form.position_title }} </h1>
                  <h3>Position Description</h3>
                  <p class="circle--textarea--input"> {{ position_form.position_description.as_textarea }} </p>
                  <!--<a class="circle--clone--add" type="submit">Add Position</a> -->
                  <span>{{position_form.DELETE}} Remove?</span>
                </li>
                {% endfor %}
              </ul>

              <button class="button button-primary" type="submit">Save Changes</button>

            </div>
          </div>

          <div class="grid-25 grid-push-5">
            <div class="circle--secondary--module">
              <h3>Project Timeline</h3>
              <h3 class="circle--input--h3"> {{ form.timeline.as_textarea }} </h3>
            </div>

            <div class="circle--secondary--module">
              <h3>Application Requirements</h3>
              <h3 class="circle--input--h3"> {{ form.requirements.as_textarea }} </h3>
            </div>

          </div>
        </div>

      </body>
    </form>
  {% endif %}
{% endif %}
{% endblock %}